**/_next
**/.next
**/next.config.js
**/config.js
**/next-env.d.ts
**/jest.config.js
**/jest.setup.js
**/.yarn
**/dist
**/out
**/scripts
**/bin
**/node_modules
**/__mocks__
**/__tests__
**/public/mockServiceWorker.js
.eslintrc.js
.pnp.*